@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
#News-Name{
    font-family: 'Oswald', sans-serif !important;
    font-size: 40px;
  }

.link{
    padding: 10px 20px;
}

.link a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(52, 52, 52);
    
}

.link a:hover {
    color: white;
    background-color: blueviolet;    
    border-radius: 5px;
  }

.link a:active {
    color: blueviolet;
}

#user-picture{
    border: 1px solid blueviolet;
    border-radius: 50%;
}

.nav-item{
    padding: 10px 30px;
}

#news-category{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

#news-category li a{
    text-decoration: none;
    color : rgb(28, 28, 28);
    padding : 10px 20px;
}

#news-category li a:active{
    color:white;
    background-color: rgb(28, 28, 28); 
}

#news-category li a:hover {
    color:white;
    background-color: rgb(28, 28, 28); 
  }

  .found-message{
    /* border: 5px solid; */
    margin: auto;
    width: 60%;
    
    margin-top: 50px;
    background-color: rgb(205, 205, 205);
    color: rgb(7, 7, 7);
 
  }

  #found{
    padding: 10px 10px;
  }

  .details{
    display: flex;
    justify-content: space-evenly;
    margin :;
  }

  .arrow{
    color:rgb(39, 39, 39)
  }

  .color{
    background-color: rgb(254, 247, 239);
  }